@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Karla:400,400i,700,700i|Lora:400,400i,700,700i&display=swap');

.learncheck {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #9ED3AD 5px center/3em no-repeat;
}

.announcement {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #F6D328 5px center/3em no-repeat;
}

.review {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  background: #9ED3AD 1px center/1em no-repeat;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal h1, 
.book .book-body .page-wrapper .page-inner section.normal h2, 
.book .book-body .page-wrapper .page-inner section.normal h3, 
.book .book-body .page-wrapper .page-inner section.normal h4, 
.book .book-body .page-wrapper .page-inner section.normal h5, 
.book .book-body .page-wrapper .page-inner section.normal h6 {
    margin-top: 2.275em;
    margin-bottom: 1em;
}

.title {
  font-size: 4em !important;
  color: #3fb5bd;
  margin-top: 0.275em !important;
  margin-bottom: 0.35em !important;
}